In [134]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [135]:
data = pd.read_csv("titanic.csv")

In [136]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

Cleaning Data

In [137]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [138]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

In [139]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [140]:
data = data.drop(columns =["Name", "Ticket", "Cabin"])
# data = data.drop(columns =["Name"])
# data = data.drop(columns =["Ticket"])

In [141]:
data.fillna(method="ffill", inplace = True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_2780\1717136749.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method="ffill", inplace = True)

In [142]:
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [143]:
data["Embarked"].unique()

array(['Q', 'S', 'C'], dtype=object)

Encoding Categorial Column

In [144]:
from sklearn.preprocessing import LabelEncoder

In [145]:
data.head(3)

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch    Fare Embarked
0          892         0       3    male  34.5      0      0  7.8292        Q
1          893         1       3  female  47.0      1      0  7.0000        S
2          894         0       2    male  62.0      0      0  9.6875        Q

In [146]:
encoder = LabelEncoder()
data["Sex"] = encoder.fit_transform(data["Sex"])
data["Embarked"] = encoder.fit_transform(data["Embarked"])

In [147]:
data.head(3)

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch    Fare  Embarked
0          892         0       3    1  34.5      0      0  7.8292         1
1          893         1       3    0  47.0      1      0  7.0000         2
2          894         0       2    1  62.0      0      0  9.6875         1

Training Testing and Splitting Data

In [148]:
from sklearn.model_selection import train_test_split

In [149]:
x = data.drop(columns = ["Survived"])
y = data["Survived"]
x.head(3)

   PassengerId  Pclass  Sex   Age  SibSp  Parch    Fare  Embarked
0          892       3    1  34.5      0      0  7.8292         1
1          893       3    0  47.0      1      0  7.0000         2
2          894       2    1  62.0      0      0  9.6875         1

In [150]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [151]:
X_train.shape

(334, 8)

In [152]:
X_test.shape

(84, 8)

Feature Engineering And Scalling Data

In [153]:
from sklearn.preprocessing import StandardScaler

In [154]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

Training Model

In [155]:
from sklearn.linear_model import LogisticRegression

In [156]:
model = LogisticRegression()

In [157]:
model.fit(X_train, y_train)

LogisticRegression()

In [201]:
y_pred = model.predict(X_test)

In [202]:
visualize = pd.DataFrame({
    "Actual value" : y_test,
    "Predicted Value" : y_pred
})

In [203]:
visualize.head(13)

     Actual value  Predicted Value
321             0                0
324             1                1
388             0                0
56              0                0
153             1                1
30              0                0
72              1                1
82              0                0
258             1                1
416             0                0
9               0                0
391             1                1
104             1                1

In [204]:
model.score(X_test, y_test)

1.0

In [205]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [206]:
accuracy_score(y_test, y_pred)

1.0

Defining Model

In [207]:
input_text = ( -0.99225806,  0.90453403, -1.21267813, -0.12130193, -0.53605627,
       -0.30308806, -0.49056136,  0.67292658 )
np_df = np.asarray(input_text)
predictions = model.predict(np_df.reshape(1, -1))
if predictions == 1:
    print("Yes Survived")
else:
     print("No Survived")

Yes Survived

In [208]:
X_test[6]

array([-0.99225806,  0.90453403, -1.21267813, -0.12130193, -0.53605627,
       -0.30308806, -0.49056136,  0.67292658])

In [209]:
y_test[72]

1

In [210]:
confusion_matrix(y_test, y_pred)

array([[50,  0],
       [ 0, 34]], dtype=int64)

In [211]:
import joblib 
joblib.dump(model, "Titanic Predicter.joblib")

['Titanic Predicter.joblib']